#messageText {
	width: 98%;
	height: 128px;
}

#form  {
	margin: 48px 0 ;
}
/*we add the normal form setting on here. */
input, textarea {
	height: 16px;
	width: 288px;
	padding: 8px;
	margin: 16px 0;
	border-style: solid;
}

select {
	height: 32px;
	width: 288px;
	margin: 16px 0;
}

label {
	padding: 16px 0;
}

button[type="submit"] {
	width: 144px ;
	height: 32px;
	padding: 0 8px;
	margin: 16px 0;
}