.services-section {
  visibility: hidden;
}
.service-box {
  width: 30%;
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 20px;
  border-radius: 5px;
  /* margin: 15px; */
  transition-duration: .3s;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 30px 0px;
  margin-right: 5%;

}

.service-box:nth-child(3), .service-box:nth-child(6) {
  float: right;
  margin-right: 0px
}

.service-icon {
  float: left;
  width: 25%;
  text-align: center;
  padding-top: 35px;
}
.service-content {
  float: right;
  width: 75%;
}
.service-content h5 {
  font-size: 17px;
  color: #525252;
  margin-bottom: 5px;
  font-weight: 400;
  line-height: 180%;
}
.service-content p {
  font-size: 15px;
  color: #aaa;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 180%;
  margin: 32px 0px;
}
