body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
ul {
  margin: 0;
  padding: 0;
}
.button_1 {
  height: 38px;
  background: #e8491d;
  border: 0;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  transition-duration: .3s;
}
.button_1:hover {
  border-color: #45deb0;
	background: #45deb0;
	color: #fff;
  cursor: pointer;
}
.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}
input {
  color: #aaa;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  border: 1px solid #eee;
  overflow: hidden;
  width: 100%;
  margin: 15px 0 20px;
  padding: 12px 15px;
  transition-duration: .3s;
}
input:focus {
  border-color: #e8491d;
}
.center-all {
  text-align: center;
}

/* Showcase */
#showcase {
  min-height: 400px;
  background: url('../img/showcase.jpeg') no-repeat 0 -500px;
  text-align: center;
  color: #ffffff;
}
#showcase h1 {
   margin-top: 100px;
   font-size: 55px;
   margin-bottom: 10px;
 }
#showcase p {
  font-size: 20px;
}


/* Sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

/* Main Col */
article#main-col {
  float: left;
  width: 65%;
}

/* Footer */
footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}
